<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<!-- Favicon -->
	<link rel="icon" href="{% static 'assets/img/logo/favicon.png'%}" type="image/x-icon"/>

	<!-- Title -->
	<title>Sine Star</title>

	<!-- Bootstrap css-->
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

	<!-- Icons css-->
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>

	<!-- Style css-->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/dark-boxed.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/boxed.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/skins.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet">

	<!-- Color css-->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/colors/color.css' %}">

	<!-- Select2 css -->
	<link href="{% static '/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">

	<!-- Internal DataTables css-->
	<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

	<!-- Sidemenu css-->
	<link href="{% static 'assets/css/sidemenu/sidemenu.css' %}" rel="stylesheet">

	<!-- Switcher css-->
	<link href="{% static 'assets/switcher/css/switcher.css' %}" rel="stylesheet">
	<link href="{% static 'assets/switcher/demo.css' %}" rel="stylesheet">
	<style>
		.password-input {
			position: relative;
		}
		
		.toggle-password {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			cursor: pointer;
			color: #555;
		}
	</style>

</head>

	<body class="horizontalmenu">


		<!-- Loader -->
		<div id="global-loader">
			<img src="https://www.spruko.com/demo/dashpro/Dashpro/assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page main-signin-wrapper">

		<!-- Row -->
		<div class="row signpages  justify-content-center text-center sign-2">
				<div class="col-md-12 col-xl-6">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}" role="alert">
								<button aria-label="Close" class="close" data-dismiss="alert" type="button">
								<span aria-hidden="true"><i class="fe fe-x-circle"></i></span></button>
								<strong>Your message :</strong> {{ message }}
							</div>
						{% endfor %}
					{% endif %}
					<div class="sign1">
						<div class="card">
							<div class="">
								<div class="card-body mt-2 mb-2 p-5">
									<form method="post">
										{% csrf_token %}
										<h5 class="text-center mb-5">Change Password</h5>
										<div class="form-group text-left">
                                            <label for="password">Old Password</label>
                                            <div class="password-input">
                                                <input type="password" id="password" name="password" class="form-control rounded-11" placeholder="Password">
                                                <span id="togglePassword" class="toggle-password" onclick="togglePasswordVisibility()">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group text-left">
                                            <label for="password2">New Password</label>
                                            <div class="password-input">
                                                <input type="password" id="password2" name="newPassword" class="form-control rounded-11" placeholder="Password">
                                                <span id="togglePassword2" class="toggle-password" onclick="togglePasswordVisibility2()">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
										<div class="row">
											<div class="col-12 mt-3">
												<button type="submit" class="btn btn-primary rounded-11 btn-block">CHANGE PASSWORD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->
		</div>
		<!-- End Page -->
		<!-- Jquery js-->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
		<!-- Bootstrap js-->
		<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Custom js -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
		<script>
			function togglePasswordVisibility() {
				var passwordInput = document.getElementById("password");
				var toggleIcon = document.getElementById("togglePassword").querySelector("i");
			
				if (passwordInput.type === "password") {
					passwordInput.type = "text";
					toggleIcon.classList.remove("fa-eye");
					toggleIcon.classList.add("fa-eye-slash");
				} else {
					passwordInput.type = "password";
					toggleIcon.classList.remove("fa-eye-slash");
					toggleIcon.classList.add("fa-eye");
				}
			}
            function togglePasswordVisibility2() {
                var passwordInput = document.getElementById("password2");
                var toggleIcon = document.getElementById("togglePassword2").querySelector("i");
            
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    toggleIcon.classList.remove("fa-eye");
                    toggleIcon.classList.add("fa-eye-slash");
                } else {
                    passwordInput.type = "password";
                    toggleIcon.classList.remove("fa-eye-slash");
                    toggleIcon.classList.add("fa-eye");
                }
            }
		</script>
	</body>
</html>