{% extends "cms/base.html" %} 
{% load static %}
{% block title %}Country Page{% endblock%}
{% block content %}
<style>
    .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .custom-card {
        border-radius: 15px; /* You can adjust the value for your desired border-radius */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="inner-body">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-1">
            <h1 class="main-content-title tx-30">User Profile</h1>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="container mt-5">
        <div class="col-lg-3 bg-white mx-auto rounded custom-card">
            <div class="text-center">
                <a class="d-flex" href="#">
                    <span ><img alt="avatar" src="{% static '/assets/img/users/9.jpg' %}"></span>
                </a>
            </div>
            <h5 class="text-center">Welcome, {{ username }}</h5>
            <p class="pb-4 text-center">{{ email }}</p>
        </div>
    </div>
</div>
{% endblock %}