{% extends "web/base.html" %} 
{% load static %}
{% block title %}Carrer Page{% endblock%}

{% block content %}

        <!--Page Title-->
        <section class="page-title pb-0" style="background-image: url({% static 'front_assets/images/background/page-title-2.jpg' %});">
            <div class="pattern-layer" style="background-image: url({% static 'front_assets/images/shape/pattern-35.png' %});"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="title-box centred">
                        <h1>APPLY JOB</h1>
                    </div>
                    <div class="bg-shape"></div>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- placejob-section -->
        <section class="placejob-section applynow-section">
            <div class="auto-container">
                  {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                          <strong>Your message :</strong> {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      {% endfor %}
              {% endif %}
                <div class="sec-title centred">
                    <span class="top-title">Apply Jobs</span>
                    <h2>Unlocking Your Dreams, Crafting Your Career</h2>
                    <p>Submit Your Details And Grab Your Best Work Place</p>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                        <div class="form-inner">
                            <div class="title-inner">
                                <figure class="icon-box"><img src="{% static 'front_assets/images/icons/icon-64.png' %}" alt=""></figure>
                                <h2>Position Infomation</h2>
                                <p>Please fill out your contact person details here.</p>
                            </div>
                            <form action="#!" method="POST" enctype="multipart/form-data" class="job-form information-form pualification-form">
                                {% csrf_token %} 
                                <div class="row clearfix">
                                  <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                      <input type="text" name="firstname" placeholder="First Name*" pattern="[A-Za-z]+" title="Only characters are allowed." >
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                      <input type="text" name="lastname" placeholder="Last Name*" pattern="[A-Za-z]+" title="Only characters are allowed." >
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                      <input type="email" name="email" placeholder="Email*" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Enter a valid email address."  >
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                      <input type="number" name="phone" placeholder="Phone" inputmode="none" pattern="\d+" title="Please enter a valid number.">
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                      <input type="text" name="address" placeholder="Address (eg: No,Street,City,State,Zip)" >
                                  </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                      <div class="form-inner">
                          <div class="title-inner">
                              <figure class="icon-box"><img src="{% static 'front_assets/images/icons/icon-65.png' %}" alt=""></figure>
                              <h2>Qualification</h2>
                              <p>Please fill out your qualification details here.</p>
                          </div>
                              <div class="row clearfix">
                                  <div class="col-lg-12 col-md-12 col-sm-12 form-group education_form">
                                      <input type="text" name="education" placeholder="Education" >
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 form-group education_form">
                                      <input type="text" name="experiance" placeholder="Total Experience (Optional)" >
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                      <div class="input-group">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fal fa-cloud-upload"></i></span>
                                          </div>
                                          <input class="form-control" name="files" accept="application/pdf,application/doc,application/docx,application/txt,application/odt" type="file" id="formFile">
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 form-column">
                          <div class="row clearfix">
                              
                              <div class="col-lg-12 col-md-12 col-sm-12 form-group my-textarea">
                                  <textarea name="message" placeholder="Your Message ..."></textarea>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                  <button type="submit" class="theme-btn-one">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
            </div>
        </section>
        <!-- placejob-section end -->

      <!-- clients-style-two -->
      <section
        class="clients-style-two py-5"
        style="background-image: url({% static 'front_assets/images/background/clients-3.jpg' %})"
      >
      <div class="auto-container">
        <div
          class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none"
        >
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/01.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/02.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/03.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/04.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/05.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/06.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/07.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/08.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/09.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/10.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/11.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/12.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/13.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/14.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/15.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/16.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/17.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/18.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/19.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/20.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/21.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/22.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/23.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/24.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/25.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/26.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/27.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/28.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/29.jpg' %}" alt="" /></a>
          </figure>
          <figure class="clients-logo-box">
            <a href="#!"><img src="{% static 'front_assets/images/clients/30.jpg' %}" alt="" /></a>
          </figure>
        </div>
      </div>
      </section>
      <!-- clients-style-two end -->
{% endblock %}