{% extends "cms/base.html" %} 
{% block title %}AddCarrer Page{% endblock%}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Firstname</p>
                                    <input type="text" class="form-control" name="firstname" value="{{carrer.firstname}}" placeholder="Firstname">
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Lastname</p>
                                    <input type="text" class="form-control" name="lastname"  value="{{carrer.lastname}}" placeholder="Lastaname">
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Email</p>
                                    <input type="email" class="form-control" name="email"  value="{{carrer.email}}" placeholder="Email">
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Phone</p>
                                    <input type="number" class="form-control" name="phone"  value="{{carrer.phone}}" placeholder="Phone">
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Education</p>
                                    <input type="text" class="form-control" name="education"  value="{{carrer.education}}" placeholder="Education">
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="mg-b-10">Experiance</p>
                                    <input type="text" class="form-control" name="experiance"  value="{{carrer.experiance}}" placeholder="experiance">
                                </div> 
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <p class="mg-b-10">Message</p>
                                    <textarea class="form-control" name="message" rows="4" placeholder="Message...">{{carrer.message}}</textarea>
                                </div>
                            </div>  
                            
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <p class="mg-b-10">Address</p>
                                    <textarea class="form-control" name="address" rows="4" placeholder="Addresss...">{{carrer.address}}</textarea>
                                </div>
                            </div> 
                            <div class="col-lg-12 col-md-12 mt-4">
                                <p class="mg-b-20">Select Your Files</p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="input-group file-browser">  
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary">
                                                    Browse <input type="file" name="files" value="{{carrer.files.url}}" style="display: none;" multiple>
                                                </span>
                                                <p class="mt-2">{{carrer.files.url}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                            <div class="col-lg-12 col-md-12 d-flex  justify-content-end mt-5">
                                <div class="form-group d-flex row justify-content-end mb-0 mx-5">
                                    <a href="#" class="btn">
                                        <button class="btn ripple btn-primary pd-x-30 mg-r-5">Save</button>
                                    </a>
                                 </div>
                                <div class="form-group d-flex row justify-content-end mb-0">
                                    <a href="{% url 'carrer' %}" class="btn">
                                        <button class="btn ripple btn-secondary pd-x-30">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
