<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<!-- Favicon -->
        <link rel="icon" href="{% static 'assets/img/logo/favicon.png'%}" type="image/x-icon"/>

		<!-- Title -->
		<title>Sine Star | {% block title %}{% endblock %}</title>

		<!-- Bootstrap css-->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

		<!-- Icons css-->
		<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>

		<!-- Style css-->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/dark-boxed.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/boxed.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/skins.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet">

		<!-- Color css-->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/colors/color.css' %}">

		<!-- Select2 css -->
		<link href="{% static '/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">

		<!-- Internal DataTables css-->
		<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

		<!-- Sidemenu css-->
		<link href="{% static 'assets/css/sidemenu/sidemenu.css' %}" rel="stylesheet">

		<!-- Switcher css-->
		<link href="{% static 'assets/switcher/css/switcher.css' %}" rel="stylesheet">
		<link href="{% static 'assets/switcher/demo.css' %}" rel="stylesheet">
		<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>	

	</head>
	<body class="main-body leftmenu">

		<!-- Loader -->
		<div id="global-loader">
			<img src="https://www.spruko.com/demo/dashpro/Dashpro/assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page">

			<!-- Sidemenu -->
			<div class="main-sidebar main-sidebar-sticky side-menu">
				<div class="sidemenu-logo">
					<a class="main-logo" href="index.html">
						<img src="{% static 'assets/img/logo/logo.png'%}" class="header-brand-img desktop-logo" alt="logo" style="height:60px" >
					</a>
				</div>
				<div class="main-sidebar-body">
					<ul class="nav mt-2">
						<li class="nav-header"><span class="nav-label">Dashboard</span></li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="{% url 'blog' %}"><i class="fe fe-home sidemenu-icon"></i><span class="sidemenu-label">Blogs</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="{% url 'opening' %}"><i class="fe fe-briefcase sidemenu-icon"></i><span class="sidemenu-label">Current Openings</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="{% url 'carrer' %}"><i class="fe fe-book sidemenu-icon"></i><span class="sidemenu-label">Carrer</span></a>
						</li> 
						<li class="nav-item">
							<a class="nav-link with-sub" href="{% url 'country' %}"><i class="fe fe-globe sidemenu-icon"></i><span class="sidemenu-label">Country</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="{% url 'contact' %}"><i class="fe fe-phone sidemenu-icon"></i><span class="sidemenu-label">Contact</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Sidemenu -->

			<!-- Main Header-->
			<div class="main-header side-header sticky">
				<div class="container-fluid">
					<div class="main-header-left">
						<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
					</div>
					<div class="main-header-center">
						<div class="responsive-logo">
							<a href="index.html"><img src="../../assets/img/brand/dark-logo.png" class="mobile-logo" alt="logo"></a>
							<a href="index.html"><img src="../../assets/img/brand/logo.png" class="mobile-logo-dark" alt="logo"></a>
						</div>
					</div>
					<div class="main-header-right">
						<div class="dropdown main-profile-menu">
							<a class="d-flex" href="#">
								<span class="main-img-user" ><img alt="avatar" src="{% static '/assets/img/users/9.jpg' %}"></span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<h6 class="main-notification-title">{{ username }}</h6>
								</div>
								<a class="dropdown-item border-top" href="{% url 'logout' %}">
									<i class="fe fe-user"></i> Sign Out
								</a>
							</div>
						</div>
						<button class="navbar-toggler navresponsive-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
							aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
						</button><!-- Navresponsive closed -->
					</div>
				</div>
			</div>
			<!-- End Main Header-->
            
            <!-- Main Content-->
			<div class="main-content side-content pt-0">

				<div class="container-fluid">
					{% block content %}

					{% endblock%}
				</div>
			</div>
			<!-- End Main Content-->

			<!-- Main Footer-->
			<div class="main-footer fixed-bottom text-dark text-center" style="background:#ffffff">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span>Copyright © 2023 <a href="#" class="text-dark"> Shine Star . All rights reserved </a>Designed & Develop By <a href="https://www.xirainfotech.com/" class="text-dark">Xira Infotech</a></span>
								<img src="{% static 'assets/img/logo/xalogo.svg' %}" width="30px">
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->

		</div>
		<!-- End Page -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>
		<!-- Jquery js-->

		<script>
			ClassicEditor
				.create( document.querySelector( '#mytextarea' ) )
				.catch( error => {
					console.error( error );
				} );
		</script>

		<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

		<!-- Bootstrap js-->
		<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

		<!-- Internal Chart.Bundle js-->
		<script src="{% static 'assets/plugins/chart.js/Chart.bundle.min.js' %}"></script>

		<!-- Peity js-->
		<script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>

		<!--Internal Apexchart js-->
		<script src="{% static 'assets/js/apexcharts.js' %}"></script>

		<!-- Internal Data Table js -->
		<script src="{% static 'assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'assets/js/table-data.js' %}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
		<script src="{% static 'assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>


		<!-- Perfect-scrollbar js -->
		<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

		<!-- Select2 js-->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
		<script src="{% static 'assets/js/select2.js' %}"></script>

		<!-- Sidemenu js -->
		<script src="{% static 'assets/plugins/sidemenu/sidemenu.js' %}"></script>

		<!-- Sidebar js -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>

		<!-- INTERNAL INDEX js -->
		<script src="{% static 'assets/js/index.js' %}"></script>

		<!-- Sticky js -->
		<script src="{% static 'assets/js/sticky.js' %}"></script>

		<!-- Custom js -->
		<script src="{% static 'assets/js/custom.js' %}"></script>

		
	</body>
</html>