{% extends "backend-template/base.html" %} 
{% block title %}AddBlog Page{% endblock%}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true"><i class="fe fe-x-circle"></i></span></button>
                        <strong>Your message :</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="mg-b-10">Country Name</p>
                                    <input type="text" class="form-control" name="name" placeholder="Country Name"  >
                                </div> 
                            </div>
                            <div class="col-lg-12 col-md-12">
                                    <p class="mg-b-20">Select Your Image</p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="input-group file-browser">
                                                <input type="text" class="form-control border-right-0 browse-file" placeholder="choose" readonly>
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Browse <input type="file" name="image" style="display: none;" multiple>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-12 col-md-12 d-flex  justify-content-end mt-5">
                                <div class="form-group d-flex row justify-content-end mb-0 mx-5">
                                        <button class="btn ripple btn-primary pd-x-30 mg-r-5">Save</button>
                                 </div>
                                <div class="form-group d-flex row justify-content-end mb-0">
                                        <button onclick="window.history.back()" class="btn ripple btn-secondary pd-x-30">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
