{% extends "frontend_template/header.html" %} 
{% load static %}
{% block title %}About Page{% endblock%}

{% block content %}

        <!--Page Title-->
        <section class="page-title pb-0" style="background-image: url({% static 'front_assets/images/background/page-title-2.jpg' %});">
            <div class="pattern-layer" style="background-image: url({% static 'front_assets/images/shape/pattern-35.png' %});"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="title-box centred">
                        <h1>ABOUT US</h1>
                        <ul class="bread-crumb clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li>ABOUT US</li>
                        </ul>
                        <!-- <p>Your Staffing Needs are Unique and Always Evolving</p> -->
                    </div>
                    <div class="bg-shape"></div>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- about-style-two -->
      <section class="about-style-two about-page">
        <div class="auto-container">
          <div class="inner-container">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="image_block_1">
                  <div class="image-box">
                    <div
                      class="pattern-layer"
                      style="
                        background-image: url({% static 'front_assets/images/shape/pattern-14.png' %});
                      "
                    ></div>
                    <div
                      class="video-inner"
                      style="
                        background-image: url({% static 'front_assets/images/resource/video-bg-1.jpg' %});
                      "
                    ></div>
                    <figure class="image-1">
                      <img src="{% static 'front_assets/images/resource/about-2.png' %}" alt="" />
                    </figure>
                    <figure
                      class="image-2 wow slideInLeft animated animated"
                      data-wow-delay="00ms"
                    >
                      <img
                        src="{% static 'front_assets/images/resource/briefcase-1.png' %}"
                        alt=""
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_3">
                  <div class="content-box">
                    <div class="sec-title">
                      <span class="top-title">WELCOME TO SHINE STAR</span>
                      <h2>ABOUT US</h2>
                    </div>
                    <div class="text">
                      <p>
                        At Shine Star, we are dedicated to transforming dreams
                        into tangible careers. We understand the vital role that
                        the right job plays in shaping your future, and we
                        strive to connect you with opportunities that align with
                        your aspirations and skills.
                      </p>
                      <p>
                        Our mission is simple yet profound: to be the bridge
                        that connects talent with the right organizations. We
                        specialize in facilitating connections across a diverse
                        range of industries, ensuring that each candidate finds
                        their perfect fit and each company discovers the ideal
                        match for their team.
                      </p>
                      <p>With a team of experienced and passionate HR professionals, we guide you through every step of the hiring process. We believe in building lasting relationships and offering personalized attention to both our candidates and our partner organizations. Your success is our success, and we are committed to walking alongside you on your journey to achieving your professional goals.</p>
                      <p>Whether you are a seasoned professional seeking new horizons or a fresh graduate embarking on your career path, Shine Star is here to guide you toward a brighter future. Let's embark on this exciting journey together and illuminate your career path with success and fulfillment.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about-style-two end -->

      
        <!-- service-style-two -->
        <section class="service-style-two">
            <div class="bg-layer"></div>
            <div class="auto-container">
                <div class="inner-container" style="background-image: url({% static 'front_assets/images/background/service-bg.jpg' %});">
                    <div class="pattern-layer" style="background-image: url({% static 'front_assets/images/shape/pattern-15.png' %});"></div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="single-item">
                                <div class="inner-box text-center">
                                    <figure class="icon-box"><img src="{% static 'front_assets/images/icons/icon-21.png' %}" alt=""></figure>
                                    <h3><a href="#!">MISSION</a></h3>
                                    <p class="text-light">To empower individuals by connecting them with meaningful career opportunities, and to foster lasting partnerships between talented professionals and organizations, ensuring mutual growth and success.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="single-item">
                                <div class="inner-box text-center">
                                    <figure class="icon-box"><img src="{% static 'front_assets/images/icons/icon-20.png' %}" alt=""></figure>
                                    <h3><a href="#!">VISION</a></h3>
                                    <p class="text-light">To be the foremost catalyst for professional growth and success, where individuals find their ideal career paths, and organizations discover the perfect talents to fuel their innovation and success.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="single-item">
                                <div class="inner-box text-center">
                                    <figure class="icon-box"><img src="{% static 'front_assets/images/icons/icon-22.png' %}" alt=""></figure>
                                    <h3><a href="#!">VALUES</a></h3>
                                    <p class="text-light">At Shine Star, we're dedicated to bridging talent with opportunities across diverse industries, offering personalized guidance from experienced HR professionals. Join us on the journey to a brighter, fulfilling career.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-style-two end -->

         <!-- history-section -->
         <section class="history-section">
            <figure class="image-layer"><img src="{% static 'front_assets/images/resource/history-1.png' %}" alt=""></figure>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                        <div class="sec-title">
                            <span class="top-title">OUR HISTORY</span>
                            <h2>A CHRONICLE OF OUR JOURNEY THROUGH TIME</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'front_assets/images/resource/history-1.jpg' %}" alt="">
                                <div class="dots-box"></div>
                            </figure>
                            <div class="content-box">
                                <div class="dots-box active"></div>
                                <div class="year-box">
                                    <h3>YEAR</h3>
                                    <div class="pattern-1" style="background-image: url({% static 'front_assets/images/shape/pattern-37.png' %});"></div>
                                    <div class="pattern-2" style="background-image: url({% static 'front_assets/images/shape/pattern-38.png' %});"></div>
                                </div>
                                <div class="text">
                                    <h3>TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <figure class="image-box ">
                                <img src="{% static 'front_assets/images/resource/history-2.jpg' %}" alt="">
                                <div class="dots-box"></div>
                            </figure>
                            <div class="content-box mr-0">
                                <div class="dots-box"></div>
                                <div class="year-box">
                                    <h3>YEAR</h3>
                                    <div class="pattern-1" style="background-image: url({% static 'front_assets/images/shape/pattern-37.png' %});"></div>
                                    <div class="pattern-2" style="background-image: url({% static 'front_assets/images/shape/pattern-38.png' %});"></div>
                                </div>
                                <div class="text">
                                    <h3>TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="year-box">
                                    <h3>YEAR</h3>
                                    <div class="pattern-1" style="background-image: url({% static 'front_assets/images/shape/pattern-37.png' %});"></div>
                                    <div class="pattern-2" style="background-image: url({% static 'front_assets/images/shape/pattern-38.png' %});"></div>
                                </div>
                                <div class="text">
                                    <h3>TITLE</h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <figure class="image-box"><img src="{% static 'front_assets/images/resource/history-3.jpg' %}" alt=""></figure>
                            <div class="content-box">
                                <div class="year-box">
                                    <h3>YEAR</h3>
                                    <div class="pattern-1" style="background-image: url({% static 'front_assets/images/shape/pattern-37.png' %});"></div>
                                    <div class="pattern-2" style="background-image: url({% static 'front_assets/images/shape/pattern-38.png' %});"></div>
                                </div>
                                <div class="text">
                                    <h3>TITLE </h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <figure class="image-box mr-0"><img src="{% static 'front_assets/images/resource/history-4.jpg' %}" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- history-section end -->





      <!-- clients-style-two -->
      <section
        class="clients-style-two py-5"
        style="background-image: url({% static 'front_assets/images/background/clients-3.jpg' %})"
      >
        <div class="auto-container">
          <div
            class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none"
          >
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/01.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/02.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/03.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/04.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/05.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/06.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/07.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/08.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/09.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/10.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/11.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/12.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/13.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/14.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/15.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/16.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/17.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/18.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/19.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/20.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/21.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/22.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/23.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/24.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/25.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/26.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/27.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/28.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/29.jpg' %}" alt="" /></a>
            </figure>
            <figure class="clients-logo-box">
              <a href="#!"><img src="{% static 'front_assets/images/clients/30.jpg' %}" alt="" /></a>
            </figure>
          </div>
        </div>
      </section>
      <!-- clients-style-two end -->

      {% endblock %}