<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Sine Star International | {% block title %}{% endblock %}</title>

    <!-- Fav Icon -->
    <link rel="icon" href="front_assets/images/favicon.png" type="image/x-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://site-front_assets.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <!-- Stylesheets -->
    <link href="{% static 'front_assets/css/font-awesome-all.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/flaticon.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/owl.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/jquery.fancybox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/color.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'front_assets/css/responsive.css' %}" rel="stylesheet" />
  </head>

  <!-- page wrapper -->
  <body>
    <div class="boxed_wrapper">
      <header class="main-header">
        <div class="header-top">
          <div class="top-inner">
            <ul class="left-info">
              <li>
                <i class="flaticon-phone-call"></i>
                <p>
                  <span>call : </span
                  ><a href="tel:9458747374">+91-945-874-7374</a>
                </p>
              </li>
              <li>
                <i class="flaticon-email"></i>
                <p>
                  <span>Mail : </span
                  ><a href="mailto:salimtyagi786@gmail.com"
                    >salimtyagi786@gmail.com</a
                  >
                </p>
              </li>
            </ul>
            <div class="right-info">
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </li> -->
                <li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-lower">
          <div class="outer-box clearfix">
            <div class="menu-area pull-left clearfix">
              <figure class="logo-box">
                <a href="#"><img src="{% static 'front_front_assets/images/logo.png' %}" alt="" /></a>
              </figure>
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler">
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
              </div>
              <nav class="main-menu navbar-expand-md navbar-light">
                <div
                  class="collapse navbar-collapse show clearfix"
                  id="navbarSupportedContent"
                >
                  <ul class="navigation clearfix">
                    <li><a href="{% url 'Front_Home' %}">Home</a></li>
                    <li><a href="{% url 'Front_about' %}">ABOUT</a></li>
                    <li><a href="{% url 'Front_carrer' %}">CAREER</a></li>
                    <li><a href="{% url 'Front_opening' %}">CURRENT OPENINGS</a></li>
                    <li><a href="#!">Blogs</a></li>
                    <li><a href="{% url 'Front_contact' %}">CONTACT</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <ul class="menu-right-content pull-right clearfix">
              <li>
                <a href="{% url 'Front_Logout' %}" class="theme-btn-one">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
          <div class="outer-box clearfix">
            <div class="menu-area pull-left">
              <figure class="logo-box">
                <a href="#"><img src="{% static 'front_front_assets/images/logo.png' %}" alt="" /></a>
              </figure>
              <nav class="main-menu clearfix">
              </nav>
            </div>
            <ul class="menu-right-content pull-right clearfix">
              <li>
                <a href="#" class="theme-btn-one">sign-in</a>
                <a href="#" class="theme-btn-one">sign-up</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-header end -->

      <!-- Mobile Menu  -->
      <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <nav class="menu-box">
          <div class="nav-logo">
            <a href="#"><img src="{% static 'front_front_assets/images/logo.png' %}" alt="" title="" /></a>
          </div>
          <div class="menu-outer">
          </div>
          <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
              <li>
                Ozone Biz Center, Office No. 501, 5th Floor, Bellasis Road, Next
                To Maharastra College, Mumbai - Central, Mumbai - Maharastra -
                400008
              </li>
              <li><a href="tel:9458747374">945-874-7374</a></li>
              <li>
                <a href="mailto:salimtyagi786@gmail.com"
                  >salimtyagi786@gmail.com</a
                >
              </li>
            </ul>
          </div>
          <div class="social-links">
            <ul class="clearfix">
              <li>
                <a href="#"><span class="fab fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fab fa-facebook-square"></span></a>
              </li>
              <li>
                <a href="#"><span class="fab fa-pinterest-p"></span></a>
              </li>
              <li>
                <a href="#"><span class="fab fa-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fab fa-youtube"></span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- End Mobile Menu -->
      
      {% block content %}

	    {% endblock%}

      <!-- main-footer -->
      <footer class="main-footer footer-manual bg-color-1">
        <div
          class="pattern-layer"
          style="background-image: url({% static 'front_assets/images/shape/pattern-11.png' %})"
        ></div>
        <div class="auto-container">
          <div class="footer-top">
            <div class="widget-section">
              <div class="row clearfix">
                <div class="col-lg-5 col-md-6 col-sm-12 footer-column">
                  <div class="footer-widget about-widget">
                    <!-- <div class="widget-title">
                      <h3>Office</h3>
                    </div> -->
                    <img class="mb-3" src="{% static 'front_assets/images/logo.png' %}" alt="" />
                    <div class="text">
                      <p>
                        At Shine Star, we are dedicated to transforming dreams
                        into tangible careers. We understand <br /><a href="#!"
                          >Read More...</a
                        >
                      </p>
                    </div>
                    <ul class="social-links clearfix">
                      <li><h5>Follow Us:</h5></li>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                  <div class="footer-widget links-widget">
                    <div class="widget-title">
                      <h3>Useful Links</h3>
                    </div>
                    <ul class="links-list clearfix">
                      <li><a href="{% url 'Front_Home' %}">Home</a></li>
                      <li><a href="{% url 'Front_about' %}">ABOUT</a></li>
                      <li><a href="{% url 'Front_carrer' %}">CAREER</a></li>
                      <li><a href="{% url 'Front_opening' %}">CURRENT OPENINGS</a></li>
                      <li><a href="#!">Blogs</a></li>
                      <li><a href="{% url 'Front_contact' %}">CONTACT</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 footer-column">
                  <div class="footer-widget contact-widget">
                    <div class="single-info-box">
                      <div class="widget-title">
                        <h3>For Employers</h3>
                      </div>
                      <ul class="info-box clearfix">
                        <li>
                          <a>
                            Ozone Biz Center, Office No. 501, 5th Floor,
                            Bellasis Road, Next To Maharashtra College, Mumbai -
                            Central, Mumbai - Maharashtra - 400008
                          </a>
                        </li>
                        <li>
                          <a href="mailto:salimtyagi786@gmail.com"
                            >salimtyagi786@gmail.com</a
                          >
                        </li>
                        <li><a href="tel:9458747374">+91-945-874-7374</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-bottom clearfix">
            <div class="copyright pull-left">
              <p>
                &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                <a href="#">Shine Star</a>, All Rights Reserved.
              </p>
            </div>
            <ul class="footer-nav pull-right clearfix">
              <li>
                <p>
                  Design &amp; Developed by Xira Infotech
                  <a href="https://www.xirainfotech.com/"
                    ><img src="{% static 'front_assets/images/xalogo.svg' %}" alt=""
                  /></a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- main-footer end -->

      <a href="https://wa.me/+919458747374?text=Hii!" class="play-now">
        <i class="icon fab fa-whatsapp"></i>
        <span class="ripple"></span>
      </a>
      <!--Scroll to top-->
      <button class="scroll-top scroll-to-target" data-target="html">
        <i class="flaticon-up-arrow-1"></i>Top
      </button>
    </div>

    <!-- jequery plugins -->
    <script src="{% static 'front_assets/js/jquery.js' %}"></script>
    <script src="{% static 'front_assets/js/popper.min.js' %}"></script>
    <script src="{% static 'front_assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'front_assets/js/owl.js' %}"></script>
    <script src="{% static 'front_assets/js/wow.js' %}"></script>
    <script src="{% static 'front_assets/js/validation.js' %}"></script>
    <script src="{% static 'front_assets/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'front_assets/js/TweenMax.min.js' %}"></script>
    <script src="{% static 'front_assets/js/appear.js' %}"></script>
    <script src="{% static 'front_assets/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'front_assets/js/scrollbar.js' %}"></script>
    <script src="{% static 'front_assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'front_assets/js/isotope.js' %}"></script>
    <script src="{% static 'front_assets/js/tilt.jquery.js' %}"></script>

    <!-- main-js -->
    <script src="{% static 'front_assets/js/script.js' %}"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </body>
  <!-- End of .page_wrapper -->
</html>
