{% extends "cms/base.html" %} 
{% block title %}Current Opening{% endblock%}
{% block content %}
<div class="inner-body">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-1">
            <h1 class="main-content-title tx-30">Current Opening</h1>
        </div>
    </div>
    <!-- End Page Header -->
    {% comment %} {% endcomment %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 mx-auto">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true"><i class="fe fe-x-circle"></i></span></button>
                                <strong>Your message :</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="card" id="transcation-crypto-1">
                <div class="card-header bd-b-0">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-center align-items-center">
                            <h5 class="card-title font-weight-semibold ">Current Opening</h5>
                        </div>
                        <p>
                            <a href="{% url 'addopening' %}" class="btn btn-outline-primary btn-xl rounded-11 mr-2" data-toggle="tooltip" data-original-title="add">
                                <span>Add Current Opening</span>
                            </a>
                        </p>
                    </div>
                </div>
                {% if page_obj %}
                <div class="card-body p-0 pt-1">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table text-nowrap" >
                                <thead class="border-top">
                                    <tr>
                                        <th class="bg-transparent text-center ">S.no</th>
                                        <th class="bg-transparent text-center ">Job Position</th>
                                        <th class="bg-transparent text-center ">Company</th>
                                        <th class="bg-transparent text-center ">Vaccancy</th>
                                        <th class="bg-transparent text-center ">Salary</th>
                                        <th class="bg-transparent text-center ">Description</th>
                                        <th class="bg-transparent text-center ">Location</th>
                                        <th class="bg-transparent text-center ">Status</th>
                                        <th class="bg-transparent text-center ">Create Date</th>
                                        <th class="bg-transparent text-center ">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for open in page_obj %}
                                    <tr class="border-bottom">
                                        <td class="text-dark fs-15 font-weight-semibold text-center ">{{open.id}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center">{{open.position}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center">{{open.company}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center ">{{open.vaccancy}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center ">{{open.salary}} - {{open.salaryEnd}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center overflow-ellipsis" style="max-width: 150px;overflow:hidden">{{open.description}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center overflow-ellipsis" style="max-width: 150px;overflow:hidden">{{open.location}}</td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center d-flex justify-content-center aling-items-center">
                                            {% if open.status %}
                                            <p class="text-success mt-3">Active<p>
                                            {% else %}
                                            <p class="text-warning mt-3">Pending</p>
                                            {% endif %}
                                        </td>
                                        <td class="text-dark fs-15 font-weight-semibold text-center ">{{open.created}}</td>
                                        <td class="d-flex justify-content-center align-items-center">
                                            <a href="{% url 'edit' open.id %}" class="btn btn-outline-info btn-sm rounded-11 mr-2" data-toggle="tooltip" data-original-title="Edit">
                                                <i><svg class="table-edit" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/>
                                                </svg></i>
                                            </a>
                                            <a href="{% url 'remove' open.id %}" class="btn btn-outline-danger btn-sm rounded-11" data-toggle="tooltip" data-original-title="Delete" onclick="return (confirm('Are You sure to want to delete Current Opening'))" >
                                                <i><svg class="table-delete" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/>
                                                </svg></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="text-center pb-5">
                    <h4>Data Not Found</h4>
                <div> 
                {% endif %}
            </div>
        </div>
    </div>
    {% if page_obj %}
   <div class="row pb-5">
    <div class="card-body col-lg-12 d-flex justify-content-center align-items-center">
        <div class="text-wrap">
            <div class="example bg-white">
                <nav>
                    <ul class="pagination mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a href="?page=1" class="page-link" href="#">First</a></li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                        <li class="page-item{% if page_num == page_obj.number %} active{% endif %}">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" href="#">Last</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link" href="#">Next</a></li>

                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   </div>
   {% endif %}
</div>
{% endblock %}