{% extends "web/base.html" %} 
{% load static %}
{% block title %}Login Page{% endblock%}

{% block content %}
<style>
  .eye-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eye-icon i {
    font-size: 18px;
  }
</style>

      <!-- contactinfo-section -->
      <section class="contactinfo-section contact-page-section">
        <div class="auto-container">
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>Your message :</strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          {% endif %}
          <div class="row clearfix ">
            <div class="col-lg-6 col-md-12 col-sm-12 form-column mx-auto">
              <div class="form-inner">
                <h2>Sign In</h2>
                <form
                  method="POST"
                  action="#"
                  id="contact-form"
                  class="default-form"
                >
                {% csrf_token %} 
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                      <input
                        type="text"
                        name="username"
                        placeholder="Username*"
                        required=""
                        min="0" max="15"
                      />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                      <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password *"
                        min="5" max="15"
                      />
                      <span toggle="#password" class="eye-icon toggle-password">
                        <i class="far fa-eye"></i>
                      </span>
                    </div>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred"
                    >
                      <button
                        class="theme-btn-one"
                        type="submit"
                        name="submit-form"
                      >
                       Sign In
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contactinfo-section end -->
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const togglePassword = document.querySelector('.toggle-password');
          const password = document.querySelector('#password');
      
          togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
      
            // Change the eye icon
            const eyeIcon = togglePassword.querySelector('i');
            eyeIcon.className = type === 'password' ? 'far fa-eye' : 'far fa-eye-slash';
          });
        });
      </script>
{% endblock %}